<div class="al-repository">
  <div class="container">
    <div class='row'>
      <div class='col-2 align-self-center al-repository-thumbnail hidden-md-down'>
        <%= image_tag repository.thumbnail_url, alt: repository.name, class: 'img-fluid' %>
      </div>

      <div class="col-sm-12 col-lg-10 al-repository-information">
        <%= content_tag(params[:id] == repository.slug ? :h1 : :h2, class: 'h5 repo-name') do %>
          <%= link_to_unless(params[:id] == repository.slug, repository.name, arclight_engine.repository_path(repository.slug)) %>
        <% end %>
        <div class='row no-gutters justify-content-md-center'>
          <div class='col-4 col-md-3 al-repository-contact'>
            <address>
              <div class="al-repository-street-address">
                <%= repository.location %>
              </div>

              <div class="al-repository-contact-info">
                <%= repository.contact %>
              </div>
            </address>
          </div>

          <div class='col al-repository-description'>
            <%= repository.description %>
          </div>

          <% if on_repositories_index? %>
            <div class='col col-lg-2 al-repository-extra align-self-center hidden-md-down'>
              <div class='al-repository-extra-collection-count'>
                <span class="al-repository-collection-count">
                  <%= t(:'arclight.views.repositories.number_of_collections', count: repository.collection_count) %>
                </span>
               </div>
               <%= link_to(t(:'arclight.views.repositories.view_more'), arclight_engine.repository_path(repository.slug), class: 'btn btn-secondary btn-sm') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
