<% @page_title = t(:'arclight.views.repositories.show', name: @repository.name) %>
<% breadcrumb :repository, @repository %>
<%= render 'shared/breadcrumbs' %>
<%= render @repository %>
<div class="row al-repository-show-header">
  <div class="col col-md-8 col-lg-9">
    <h2 class="h4">
      <%= t('arclight.views.show.our_collections') %>
    </h2>
  </div>
  <div class="col text-right">
    <span class="al-repository-collections">
      <%= link_to(t(:'arclight.views.repositories.view_all_collections'), repository_collections_path(@repository)) %>
    </span>
  </div>
</div>

<div class="row">
  <% @collections.each do |document| %>
    <% doc_presenter = Arclight::IndexPresenter.new(document, self, CatalogController.blacklight_config) %>
    <div class="col-md-12">
      <div class='al-document-title-bar'>
        <div class='row'>
          <div class='col-md-10 col-lg-9'>
            <h3 class="h5"><%= link_to doc_presenter.label, solr_document_path(document.id) %></h3>
            <%= render Arclight::IndexMetadataFieldComponent.with_collection(doc_presenter.field_presenters.select { |p| p.field_config.repository_context }) %>
          </div>
          <% if document.unitid %>
            <div class='col text-right al-collection-id'>
              <%= t(:'arclight.views.show.collection_id', id: document.unitid) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
