<div class='al-search-breadcrumb'>
  <%= link_to t('arclight.routes.home'), root_path %>
  <%= t('arclight.breadcrumb_separator') %>
  <% if collection_active? %>
    <%= t('arclight.routes.collections') %>
  <% elsif on_repositories_index? %>
    <%= t('arclight.routes.repositories') %>
  <% elsif on_repositories_show? %>
    <%= link_to t('arclight.routes.repositories'), arclight_engine.repositories_path %>
    <%= t('arclight.breadcrumb_separator') %>
    <%= @repository.name %>
  <% else %>
    <%= t('arclight.routes.search_results') %>
  <% end %>
</div>
