<nav class='al-search-breadcrumb' role='navigation' aria-label=<%= t('arclight.breadcrumbs.aria_label') %> >
  <%= link_to t('arclight.routes.home'), root_path %>
  <span aria-hidden="true"><%= t('arclight.breadcrumb_separator') %></span>
  <% if collection_active? %>
    <%= t('arclight.routes.collections') %>
  <% elsif on_repositories_index? %>
    <%= t('arclight.routes.repositories') %>
  <% elsif on_repositories_show? %>
    <%= link_to t('arclight.routes.repositories'), arclight_engine.repositories_path %>
    <span aria-hidden="true"><%= t('arclight.breadcrumb_separator') %></span>
    <%= @repository.name %>
  <% else %>
    <%= t('arclight.routes.search_results') %>
  <% end %>
</nav>
