<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark topbar" aria-label="utilities" role="navigation">
    <div class="<%= container_classes %>">
      <%= link_to application_name, root_path, class: "navbar-brand" %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
        <%= render 'shared/user_util_links' %>
      </div>
    </div>
  </nav>

  <% if controller_name == 'catalog' && !has_search_parameters? && action_name == 'index' %>
    <div class='al-homepage-masthead jumbotron'>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8 masthead-center" >
            <h1><%= t('arclight.masthead_heading') %></h1>
          </div>

          <div class="col-md-4 nav-links d-flex justify-content-end" >
            <ul class="navbar-nav" aria-label="browse" role="navigation">
              <%= render 'shared/main_menu_links' %>
            </ul>
          </div>
        </div>

        <div class='row justify-content-md-center'>
          <div class='col-12'>
            <div class='navbar-search'>
              <%= render_search_bar %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class='bg-faded al-masthead'>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8" >
            <span class="h1"><%= t('arclight.masthead_heading') %></span>
          </div>

          <div class="col-md-4 nav-links d-flex justify-content-end" >
            <ul class="navbar-nav" aria-label="browse" role="navigation">
              <%= render 'shared/main_menu_links' %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-search navbar">
      <div class="<%= container_classes %>">
        <%= render_search_bar  %>
      </div>
    </div>
  <% end %>
</header>
