<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" role="navigation">
  <div class="<%= container_classes %>">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to application_name, root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>

<% if controller_name == 'catalog' && !has_search_parameters? && action_name == 'index' %>
  <div class='al-homepage-masthead jumbotron'>
    <div class='row'>
      <div class='col-md-8 offset-md-2'>
        <h1 class='text-center'><%= t('arclight.masthead_heading') %></h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6 offset-md-3'>
        <div class='navbar-search'>
          <%= render_search_bar %>
        </div>
      </div>
    </div>
    <nav class="navbar" role="navigation">
      <ul class="nav justify-content-center">
        <%= render 'shared/main_menu_links' %>
      </ul>
    </nav>
  </div>
<% else %>
  <div class='bg-faded al-masthead'>
    <div class="container">
      <h1><%= t('arclight.masthead_heading') %></h1>
    </div>
  </div>
  <div class="navbar-search navbar navbar-toggleable-sm bg-faded" role="navigation">
    <div class="<%= container_classes %>">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%= render 'shared/main_menu_links' %>
        </ul>
        <%= render_search_bar  %>
      </div>
    </div>
  </div>
<% end %>
