<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" role="navigation">
  <div class="<%= container_classes %>">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to application_name, root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>

<% if controller_name == 'catalog' && !has_search_parameters? && action_name == 'index' %>
  <div class='jumbotron'>
    <div class='row'>
      <div class='col-md-8 offset-md-2'>
        <h1 class='text-center'><%= t('arclight.views.home.heading') %></h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6 offset-md-3'>
        <%= render_search_bar %>
      </div>
    </div>
  </div>
<% else %>
  <div class="navbar-search navbar navbar-light navbar-toggleable-md bg-faded" role="navigation">
    <div class="<%= container_classes %>">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= repositories_active_class %>">
            <%= link_to t('arclight.routes.repositories'), arclight_engine.repositories_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= collection_active_class %>">
            <%= link_to t('arclight.routes.collections'), arclight_engine.collections_path, class: 'nav-link' %>
          </li>
        </ul>
        <%= render_search_bar  %>
      </div>
    </div>
  </div>
<% end %>
