<% parents = Arclight::Parents.from_solr_document(document).as_parents %>
<% h1_index = 0 %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item  breadcrumb-item-1">
      <% if document.repository_config.present? %>
        <span class="col-auto col-icon-padding"><%= blacklight_icon :repository, classes: 'al-repository-content-icon' %></span>
        <span class="col col-no-left-padding"><%= link_to(document.repository_config.name, arclight_engine.repository_path(document.repository_config.slug)) %></span>
      <% else %>
          <span><%= blacklight_icon :repository, classes: 'al-repository-content-icon' %><%= t('arclight.show_breadcrumb_label') %></span>
      <% end %>
    </li>
    <% parents.each_with_index.map do |parent, index| %>
      <%= content_tag :li, class: "breadcrumb-item breadcrumb-item-#{index + 1}" do %>
        <% bc_icon = parent.level.downcase %>
        <% bc_icon = 'folder' if bc_icon == 'series' %>
        <% bc_icon = 'folder' if bc_icon == 'subseries' %>
        <span class="col-auto col-icon-padding"><%= blacklight_icon bc_icon %></span>
        <span class="col col-no-left-padding"><%= link_to parent.label, solr_document_path(parent.global_id) %></span>
        <% h1_index = index + 3 %> 
      <% end %> 
    <% end %>
  </ol>

  <%= content_tag :h1, class: "breadcrumb-item breadcrumb-item-#{h1_index}" do %>
    <span class="col-auto col-icon-padding"><%= blacklight_icon document_header_icon(document) %></span>
    <span class="col col-no-left-padding-indent"><%= document.normalized_title %></span>
  <% end %>
</nav>
