<% doc_presenter = show_presenter(document).with_field_group(field_accessor) %>
  <div class="container">
    <dl class="row">
      <% generic_document_fields(field_accessor).each do |field_name, field| %>
        <% if generic_should_render_field?(field_accessor, document, field) %>
          <div class="col-sm-3">
            <dt class="blacklight-<%= field_name.parameterize %>">
              <%= generic_render_document_field_label(field_accessor, document, field: field_name).upcase %>
            </dt>
          </div>
          <div class="col-sm-9">
            <dd class="blacklight-<%= field_name.parameterize %><%= field_name == 'parent_access_restrict_ssm' ? ' bg-info' : '' %>">
              <%= doc_presenter.field_value field %>
            </dd>
          </div>
        <% end %>
      <% end %>
    </dl>
  </div>
</div>

