<div class="al-search-result-index-article row d-flex align-items-start">
  <% counter = document_counter_with_offset(document_counter) %>
  <div class="col-auto">
    <%= render partial: 'arclight_document_header_icon', locals: { document: document }  %>
  </div>

  <div class="col col-no-left-padding d-flex flex-wrap">
    <div class="documentHeader my-w-75 w-md-100 order-0" data-document-id="<%= document.id %>">
      <h3 class="index_title document-title-heading">
        <%= link_to_document document, document_show_link_field(document), counter: counter %>
        <%= content_tag('span', class: 'al-document-extent badge') do %>
          <%= document.extent %>
        <% end if document.extent %>
      </h3>
    </div>

    <div class="my-w-25 w-md-100 order-12 order-md-1">
      <%= render_index_doc_actions document, wrapping_class: 'd-flex justify-content-end' %>
    </div>

    <div class="order-2">
      <div class="row">
        <%= content_tag('div', class: 'al-document-highlight col') do %>
          <%= document.highlights.join('<br/>').html_safe %>
        <% end if document.highlights %>
      </div>

      <div class="row">
        <%= content_tag('div', class: 'al-document-creator col') do %>
          <%= document.creator %>
        <% end if document.creator %>
      </div>

      <div class="row">
        <%= content_tag('div', class: 'al-document-abstract-or-scope col') do %>
          <%= content_tag('div', 'data-arclight-truncate' => true) do %>
            <%= document.abstract_or_scope %>
          <% end %>
        <% end if document.abstract_or_scope %>
      </div>

      <%= render partial: 'index_breadcrumb_default', locals: { document: document } %>
    </div>
  </div>
</div>
