<%# locals: (presenter:) -%>
<div class="row">
  <div class="col-md-3 order-md-2">
    <nav class='al-sidebar-navigation-context al-sticky-sidebar'
      id="collection-context-sidebar"
      aria-label='<%= t('arclight.views.show.context_nav.title') %>'>
      <ul class='nav nav-pills flex-sm-row flex-md-column text-sm-left text-md-right'>
        <% unless blacklight_config.show.metadata_partials.nil? %>
          <% blacklight_config.show.metadata_partials.each do |item| %>
            <% next unless presenter.fields_have_content?(item) %>
            <li class='nav-item'>
              <%= link_to t("arclight.views.show.sections.#{item}"), "##{t("arclight.views.show.sections.#{item}").parameterize}", class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>

  <div class="col-md-9 order-md-1">
    <h2 class="sr-only visually-hidden"><%= t 'arclight.views.show.context' %></h2>
    <% unless blacklight_config.show.metadata_partials.nil? %>
      <% blacklight_config.show.metadata_partials.each do |metadata| %>
        <% next unless presenter.fields_have_content?(metadata) %>

        <% presenter.with_field_group(metadata) do |p| %>
          <%= content_tag(:div, id: t("arclight.views.show.sections.#{metadata}").parameterize) do %>
            <h3 class='al-show-sub-heading'>
              <%= t("arclight.views.show.sections.#{metadata}", level: @document.level) %>
            </h3>

            <dl class="row dl-invert">
              <% p.field_presenters.each do |field_presenter| %>
                <%= render (field_presenter.component || Blacklight::MetadataFieldComponent).new(field: field_presenter, show: true) %>
              <% end %>
            </dl>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
