<% doc_presenter = show_presenter(document).with_field_group(field_accessor) %>
<div class="card">
  <div class="card-header" role="tab" id="heading<%= card_index %>">
    <h3 class="mb-0">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= card_index %>" aria-expanded="<%= card_index.zero? %>" aria-controls="collapse<%= card_index %>">
        <%= t("arclight.views.show.context_sidebar.#{field_accessor}") %>
      </a>
    </h3>
  </div>

  <div id="collapse<%= card_index %>" class="collapse <%= 'show' if card_index.zero? %>" role="tabpanel" aria-labelledby="heading<%= card_index %>">
    <div class="card-body">
      <dl>
        <% generic_document_fields(field_accessor).each do |field_name, field| %>
          <% if generic_should_render_field?(field_accessor, document, field) %>
            <dt class="blacklight-<%= field_name.parameterize %>">
              <%= generic_render_document_field_label(field_accessor, document, field: field_name) %>
            </dt>
            <dd class="blacklight-<%= field_name.parameterize %>">
              <%= doc_presenter.field_value field %>
            </dd>
          <% end %>
        <% end %>
      </dl>
    </div>
  </div>
</div>
