<% doc_presenter = document_presenter(document).with_field_group(field_accessor) %>
<div class="card">
  <div class="card-header" role="tab" id="heading<%= card_index %>">
    <h3 class="mb-0">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= card_index %>" aria-expanded="<%= card_index.zero? %>" aria-controls="collapse<%= card_index %>">
        <%= t("arclight.views.show.context_sidebar.#{field_accessor}") %>
      </a>
    </h3>
  </div>

  <div id="collapse<%= card_index %>" class="collapse <%= 'show' if card_index.zero? %>" role="tabpanel" aria-labelledby="heading<%= card_index %>">
    <div class="card-body">
      <dl>
        <% doc_presenter.field_presenters.each do |field_presenter| %>
          <%= render (field_presenter.component || Blacklight::MetadataFieldComponent).new(field: field_presenter, show: true, layout: Arclight::UpperMetadataLayoutComponent) %>
        <% end %>
      </dl>
    </div>
  </div>
</div>
