<% # container for all groups in index view -%>
<div class='al-grouped-results'>
  <% @response.groups.each do |g| %>
    <% parent_document = g.docs.first.parent_document %>
    <div class='al-grouped-title-bar'>
      <div class='row'>
        <div class='col-md-12'>
          <% repository = Arclight::Repository.find_by(name: parent_document.repository) %>
          <div class='al-grouped-repository'>
            <%= link_to_if(repository.present?, repository.name, arclight_engine.repository_path(repository.slug)) %>
          </div>
          <h3>
            <%= show_presenter(parent_document).heading %>
          </h3>
          <%= content_tag('span', class: 'badge badge-light') do %>
            <%= parent_document.extent %>
          <% end if parent_document.extent %>
          <%= content_tag('div', class: 'al-document-abstract-or-scope') do %>
            <%= content_tag('div', 'data-arclight-truncate' => true) do %>
              <%= parent_document.abstract_or_scope %>
            <% end %>
          <% end if parent_document.abstract_or_scope %>
        </div>
      </div>
    </div>
    <div class="grouped-documents">
      <div class="al-grouped-more">
        <% if g.total > 3 %>
          <%= t('arclight.views.index.top_group_results', count: 3) %>
          <%= link_to(
            t('arclight.views.index.all_group_results', count: g.total),
            search_catalog_path(search_within_collection(parent_document.collection_name, search_without_group)))
          %>
        <% else %>
          <%= t('arclight.views.index.group_results_count', count: g.total) %>
        <% end %>
      </div>
      <hr>
      <%= render_grouped_documents(g.docs) %>
    </div>
  <% end %>
</div>
