<% # container for all groups in index view -%>
<div class='al-grouped-results'>
  <% @response.groups.each do |g| %>
    <% parent_document = g.docs.first.parent_document %>
    <div class='al-grouped-title-bar'>
      <div class='row'>
        <div class='col-md-12'>
          <h3>
            <%= link_to_document parent_document, document_show_link_field(parent_document) %>
          </h3>
          <%= content_tag('div', class: 'al-document-abstract-or-scope') do %>
            <%= content_tag('div', 'data-arclight-truncate' => true) do %>
              <%= parent_document.abstract_or_scope %>
            <% end %>
          <% end if parent_document.abstract_or_scope %>
        </div>
      </div>
    </div>
    <div class="grouped-documents">
      <%= render_document_index g.docs %>
    </div>
    <% # TODO: Should be removed/changed in #704 %>
    <%- if g.total > @response.group_limit %>
      <%= link_to t('blacklight.search.group.more'), add_group_facet_params_and_redirect(g), :class => 'more-in-group' %>
    <%- end %>
  <%- end %>
</div>
