<li id="<%= document.id %>" class="al-collection-context row d-flex align-items-start">
  <div class="documentHeader row" data-document-id="<%= document.id %>">
    <% requestable = item_requestable?('', { document: document }) %>
    <% if document.children? %>
      <div class="al-toggle-children-container">
        <%= link_to(
          blacklight_icon(:plus),
          "##{document.id}-collapsible-hierarchy",
          class: "al-toggle-view-children #{!show_expanded?(document) ? 'collapsed' : ''}",
          'aria-label': t('arclight.hierarchy.view_all'),
            data: {
              toggle: 'collapse'
            }
          )
        %>
      </div>
    <% end %>
    <div class="col-auto">
      <%= render partial: 'arclight_document_header_icon', locals: { document: document }  %>
    </div>
    <div class="col col-no-left-padding d-flex flex-wrap">
      <div class="index_title document-title-heading my-w-75 w-md-100 order-0">
        <% counter = document_counter_with_offset(document_counter) %>
        <%= link_to_document document, document_show_link_field(document), counter: counter %>
        <% if document.children? %>
          <span class="badge badge-pill badge-secondary al-number-of-children-badge"><%= document.number_of_children %><span class="sr-only"><%= t(:'arclight.views.index.number_of_components', count: document.number_of_children) %></span></span>
        <% end %>
      </div>
      
      <div class="my-w-25 w-md-100 order-12 order-md-1">
        <%= render_index_doc_actions document, wrapping_class: 'd-flex justify-content-end' %>
      </div>

      <div class="order-2">
        <div class="row">
          <%= content_tag('div', class: 'al-document-abstract-or-scope mb-0') do %>
            <%= content_tag('div', data: { 'arclight-truncate': true, 'truncate-more': I18n.t('arclight.truncation.view_more'), 'truncate-less': I18n.t('arclight.truncation.view_less') } ) do %>
              <%= document.abstract_or_scope %>
            <% end %>
          <% end if document.abstract_or_scope %>
        </div>
      </div>
    </div>
  </div>
  <% if document.number_of_children > 0 %>
    <%= content_tag(:div, id: "#{document.id}-collapsible-hierarchy",
      class: "collapse al-collection-context-collapsible al-hierarchy-level-#{document.component_level} #{'show' if show_expanded?(document)}",
      data: { resolved: false }
    ) do %>
      <%= generic_context_navigation(document, component_level: document.component_level + 1, original_parents: params[:original_parents]) %>
    <% end %>
  <% end %>
</li>
