<header class="documentHeader row">
  <% requestable = item_requestable?('', { document: document }) %>
  <% side_content = document.children? || requestable %>
  <h3 class="index_title document-title-heading <%= side_content ? 'col-md-9' : 'col-md-12' %> ">
    <% if document.containers.present? %>
      <span class="document-title-containers">
        <%= document.containers.join(', ') %>:
      </span>
    <% end %>
    <% counter = document_counter_with_offset(document_counter) %>
    <%= link_to_document document, document_show_link_field(document), counter: counter %>
  </h3>

  <div class="al-hierarchy-side-content float-right <%= side_content ? 'col-md-3' : 'col' %> ">
    <% unless hierarchy_component_context? %>
      <div class="index-document-functions">
        <%= render partial: 'catalog/bookmark_control', locals: { document: document } %>
      </div>
    <% end %>
    <% if requestable %>
      <%= render partial: 'arclight/requests/google_form', locals: { document: document } %>
    <% end %>
    <% if document.children? %>
      <div class='al-hierarchy-children-status'>
        <span class='badge badge-default al-number-of-children-badge'>
          <%= t(:'arclight.views.index.number_of_children', count: document.number_of_children) %>
          <% unless hierarchy_component_context? %>
            <%= link_to(
              t('arclight.hierarchy.view_all'),
              "##{document.reference}-collapsible-hierarchy",
              class: 'al-toggle-view-all',
                data: {
                  toggle: 'collapse'
                }
              )
            %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</header>
