<div class="documentHeader row" data-document-id="<%= document.id %>">
  <% requestable = item_requestable?('', { document: document }) %>
  <h3 class="index_title document-title-heading col-md-8">
    <% if document.containers.present? %>
      <span class="document-title-containers">
        <%= document.containers.join(', ') %>:
      </span>
    <% end %>
    <% counter = document_counter_with_offset(document_counter) %>
    <%= link_to_document document, document_show_link_field(document), counter: counter %>
    <% if document.children? %>
      <span class="badge badge-pill badge-secondary al-number-of-children-badge"><%= document.number_of_children %><span class="sr-only"><%= t(:'arclight.views.index.number_of_components', count: document.number_of_children) %></span></span>
    <% end %>
    <%= render_document_partial(document, 'arclight_online_content_indicator') %>
    <% if document.children? %>
      <div class='al-hierarchy-children-status'>
        <span class='badge badge-default'>
          <% unless hierarchy_component_context? %>
            <%= link_to(
              t('arclight.hierarchy.view_all'),
              "##{document.reference}-collapsible-hierarchy",
              class: 'al-toggle-view-all',
                data: {
                  toggle: 'collapse'
                }
              )
            %>
          <% end %>
        </span>
      </div>
    <% end %>
  </h3>

  <div class="al-hierarchy-side-content float-right col">
    <% unless hierarchy_component_context? %>
      <div class="index-document-functions">
        <%= render partial: 'catalog/bookmark_control', locals: { document: document } %>
      </div>
    <% end %>
    <% if requestable %>
      <% document.repository_config.available_request_types.each do |request_type| %>
        <%= render partial: "arclight/requests/#{request_type}", locals: { document: document } %>
      <% end %>
    <% end %>
  </div>
</div>
