<div class='row'>
  <div class='col-md-3'>
    <%= render partial: 'show_sidebar' %>
  </div>
  <div class='col-md-9'>
    <ul class='nav nav-pills' role='tablist'>
      <li class='nav-item'>
        <a class='nav-link active' data-toggle='pill' href='#overview' role='tab'>
          <%= t 'arclight.views.show.overview' %>
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link disabled' data-toggle='pill' href='#contents' role='tab' data-hierarchy-enable-me='true'>
          <%= t 'arclight.views.show.no_contents' %>
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link <%= 'disabled' unless document.digital_objects.present? %>' data-toggle='pill' href='#online-content' role='tab' data-arclight-online-content-tab='true'>
          <% if document.digital_objects.present? %>
            <%= t 'arclight.views.show.online_content' %>
          <% else %>
            <%= t 'arclight.views.show.no_online_content' %>
          <% end %>
        </a>
      </li>
      <%= render partial: 'collection_downloads', locals: { downloads: collection_downloads(document) } %>
    </ul>
    <div class='tab-content'>
      <div class='tab-pane active' id='overview' role='tabpanel'>
        <%= render 'collection_overview' %>
      </div>
      <div class='tab-pane' id='contents' role='tabpanel'>
        <%= render 'collection_contents' %>
      </div>
      <div class='tab-pane' id='online-content' role='tabpanel'>
         <%= render_document_partial(document, 'arclight_viewer') %>
      </div>
    </div>
  </div>
</div>
