<div class='al-show-actions-box col-md-3'>
  <% requestable = item_requestable?('', { document: document }) %>

  <div class='al-collection-id'>
    <% if document.unitid %>
      <%= t(:'arclight.views.show.collection_id', id: document.unitid) %>
    <% end %>

    <% if document.unitid && document.containers.present? %>
      <span> | </span>
    <% end %>

    <% if document.containers.present? %>
      <span><%= document.containers.join(', ') %></span>
    <% end %>
  </div>

  <div class='mr-auto'>
    <%= render partial: 'catalog/bookmark_control', locals: { document: document } %>
  </div>

  <% if requestable %>
    <div class='mr-auto al-action-box-request'>
        <%= render partial: 'arclight/requests/google_form', locals: { document: document } %>
    </div>
  <% end %>

    <% document_downloads = Arclight::DocumentDownloads.new(document) %>
    <% if document_downloads.files.present? %>
      <div class="mr-auto al-show-actions-box-downloads">

        <% document_downloads.files.each do |file| %>
          <div class="al-show-actions-box-downloads-file">
            <% if file.pdf? %>
                <%= blacklight_icon('pdf', classes: "al-show-actions-box-downloads-file") %>
            <% elsif file.ead? %>
                <%= blacklight_icon('ead', classes: "al-show-actions-box-downloads-file") %>
            <% end %>

            <% if file.size %>
              <%= link_to(t("arclight.views.show.download_with_size.#{file.type}", size: file.size), file.href) %>
            <% else %>
              <%= link_to(t("arclight.views.show.download.#{file.type}"), file.href) %>
            <% end %>
          </div>
        <% end %>

      </div>
    <% end %>

</div>
