<div class='al-show-actions-box col-md-3'>
  <div class='al-collection-id'>
    <% if document.unitid %>
      <%= t(:'arclight.views.show.collection_id', id: document.unitid) %>
    <% end %>

    <% if document.unitid && document.containers.present? %>
      <span> | </span>
    <% end %>

    <% if document.containers.present? %>
      <span><%= document.containers.join(', ') %></span>
    <% end %>
  </div>

  <div class='al-show-actions-box-options'>
    <%= render partial: 'arclight/requests', locals: { document: document } %>
    <div class='mr-auto al-show-actions-box-bookmarks'>
      <%= render partial: 'catalog/bookmark_control', locals: { document: document } %>
    </div>
  </div>
  <%= render document.downloads %>
</div>
