<div class="input-group within-collection-dropdown flex-nowrap flex-shrink-1 mb-2 mb-md-0 mr-md-2">
  <span class="input-group-prepend">
    <label class="input-group-text" for="within_collection">
      <%= t('arclight.within_collection_dropdown.label_html') %>
    </label>
  </span>
  <select
    id="within_collection"
    class="custom-select search-field rounded-right"
    <%= 'name="f[collection_sim][]"'.html_safe if within_collection_context? %>
  >
    <option
      <%= "selected" unless within_collection_context? %>
      value=""
    >
      <%= t('arclight.within_collection_dropdown.all_collections') %>
    </option>
    <option
      value="<%= Array(params.dig(:f, :collection_sim)).first || @document && @document.collection_name %>"
      <%= 'selected' if within_collection_context? %>
      <%= 'disabled' unless within_collection_context? %>
    >
      <%= t('arclight.within_collection_dropdown.this_collection') %>
    </option>
  </select>
</div>
