<div class='al-show-actions-box-info'>

  <div class="dropdown">
    <button class="dropdown-toggle btn btn-secondary btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= info_icon %> <%= t('.more_info') %>
    </button>
    <div class="dropdown-menu shadow-lg p-2" style="min-width: 300px;" >
      <table style="width: 100%">
        <tr>
          <th scope="row"><%= t('.collection_id') %></th>
          <td><%= collection_unitid %></td>
        </tr>
        <tr>
          <th scope="row"><%= t('.total_components') %></th>
          <td><%= total_component_count %></td>
        </tr>
        <tr>
          <th scope="row"><%= t('.online_items') %></th>
          <td><%= tag.span blacklight_icon(:online), class: 'al-online-content-icon' %><%= online_item_count %></td>
        </tr>
        <tr>
          <th scope="row"><%= t('.last_indexed') %></th>
          <td><%= last_indexed.strftime('%F') %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
