<div class='al-show-actions-box'>
  <div class="al-actions-box-container">
    <h2><%= document.collection.normalized_title %></h2>
    <% if document.unitid || document.containers.present? %>
      <div class='al-collection-id'>
        <% if document.unitid %>
          <%= t(:'arclight.views.show.collection_id', id: document.unitid) %>
        <% end %>

        <% if document.unitid && document.containers.present? %>
          <span> | </span>
        <% end %>

        <% if document.containers.present? %>
          <span><%= document.containers.join(', ') %></span>
        <% end %>
      </div>
    <% end %>
    <div class='al-show-actions-box-options d-flex'>
      <%= helpers.render partial: 'arclight/requests', locals: { document: document } %>
    </div>
  </div>

  <% if document.downloads.files.present? %>
    <div class=" al-show-actions-box-downloads-container">
      <%= render Arclight::DocumentDownloadComponent.with_collection(document.downloads.files) %>
    </div>
  <% end %>

</div>
