<div class='d-md-flex justify-content-between al-show'>
  <div class='al-show-breadcrumb'>
    <nav aria-label="breadcrumb">
      <%= render Arclight::BreadcrumbsHierarchyComponent.new(presenter: presenter) %>

      <%= content_tag :h1, class: "breadcrumb-item breadcrumb-item-#{document.parents.length + 2} media" do %>
        <span class="media-body" aria-hidden="true"><%= blacklight_icon document_or_parent_icon(document) %></span>
        <span class="col"><%= document.normalized_title %></span>
      <% end %>
    </nav>
  </div>

  <%= render Arclight::DocumentActionsComponent.new(presenter: presenter) %>
</div>

<%= render Arclight::MetadataSectionComponent.with_collection(component_metadata_partials, metadata_attr: { layout: Arclight::UpperMetadataLayoutComponent }, presenter: presenter, classes: ['al-metadata-section', 'breadcrumb-item', "breadcrumb-item-#{document.parents.length + 3}"]) unless document.collection? %>

<div class='row'>
  <div class='col-md-12'>
    <%= embed %>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <ul class='nav nav-tabs nav-fill' role='tablist' aria-label='<%= t('arclight.views.show.tablist_nav') %>'>
      <li class='nav-item flex-fill'>
        <a class='nav-link p-1 p-sm-2 active' data-toggle='tab' data-bs-toggle='tab' href='#context' role='tab'>
          <%= document.collection? ? t('arclight.views.show.overview') : t('arclight.views.show.context') %>
        </a>
      </li>

      <% if document.collection? %>
        <li class='nav-item flex-fill'>
          <a class='nav-link p-1 p-sm-2 disabled' data-toggle='tab' data-bs-toggle='tab' href='#contents' role='tab' data-arclight-context-navigation-target='enableButton' data-has-contents="<%= t 'arclight.views.show.has_content' %>">
            <%= t 'arclight.views.show.no_contents' %>
          </a>
        </li>
      <% end %>

      <% if online_content? %>
        <li class='nav-item flex-fill'>
          <a class='nav-link p-1 p-sm-2' data-toggle='tab' data-bs-toggle='tab' href='#online-content' role='tab' data-arclight-online-content-tab='true'>
            <%= t 'arclight.views.show.online_content' %>
            <% unless document.collection? %>
              <span data-arclight-online-content-tab-count/>
            <% end %>
          </a>
        </li>
      <% end %>

      <li class='nav-item flex-fill'>
        <a class='nav-link p-1 p-sm-2' data-toggle='tab' data-bs-toggle='tab' href='#access' role='tab'>
          <%= t 'arclight.views.show.access' %>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class='tab-content'>
      <% if document.collection? %>
        <div class='tab-pane active' id='context' role='tabpanel'>
          <div class="row">
            <div class="col-md-3 order-md-2">
              <nav class='al-sidebar-navigation-context al-sticky-sidebar'
                id="collection-context-sidebar"
                aria-label='<%= t('arclight.views.show.context_nav.title') %>'>
                <ul class='nav nav-pills flex-sm-row flex-md-column text-sm-left text-md-right'>
                  <% metadata_partials.select { |item| presenter.with_field_group(item).fields_to_render.any? }.each do |item| %>
                    <li class='nav-item'>
                      <%= link_to t("arclight.views.show.sections.#{item}"), "##{t("arclight.views.show.sections.#{item}").parameterize}", class: 'nav-link' %>
                    </li>
                  <% end %>
                </ul>
              </nav>
            </div>

            <div class="col-md-9 order-md-1">
              <h2 class="sr-only visually-hidden"><%= t 'arclight.views.show.context' %></h2>
              <%= render Arclight::MetadataSectionComponent.with_collection(metadata_partials, presenter: presenter, heading: true) %>
            </div>
          </div>
        </div>
      <% end %>

      <div class='tab-pane <%= document.collection? ? '': 'active' %>' id='<%= document.collection? ? 'contents' : 'context' %>' role='tabpanel'>
        <h2 class="sr-only visually-hidden" data-arclight-context-navigation-target='screenReaderText' data-has-contents=<%= t 'arclight.views.show.has_content' %>><%= document.collection? ? t('arclight.views.show.has_content') : t('arclight.views.show.context') %></h2>
        <%= content_tag(:div, id: document.collection? ? nil : t("arclight.views.show.sections.collection_context_field").parameterize) do %>
          <%= generic_context_navigation(@document) %>
        <% end %>
      </div>

      <% if online_content? %>
        <div class='tab-pane' id='online-content' role='tabpanel'>
          <h2 class="sr-only visually-hidden"><%= t 'arclight.views.show.online_content' %></h2>
          <%= content_tag(
            :div, '',
            class: 'al-contents',
            data: {
              arclight: {
                path: search_catalog_path,
                name: document.collection_name,
                access: 'online',
                view: 'online_contents',
                parent: document.collection? ? nil : document.reference,
                search_field: 'within_collection'
              }
            }
          ) %>
        </div>
      <% end %>

      <div class='tab-pane' id='access' role='tabpanel'>
        <h2 class="sr-only visually-hidden"><%= t 'arclight.views.show.access' %></h2>

        <% if @document.collection? %>
          <%= render Arclight::MetadataSectionComponent.with_collection(context_access_tab_items, presenter: presenter) %>
        <% else %>
          <%= render Arclight::MetadataSectionComponent.with_collection(component_access_tab_items, presenter: presenter) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
