<%= tag.tr(
  id: @document.id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.join(' ')) do %>
  <td data-document-id="<%= document.id %>">
    <div class="index_title document-title-heading" data-turbo="false">
      <%= helpers.link_to_document document, counter: @counter %>
      <% if document.children? %>
        <span class="badge badge-pill bg-secondary badge-secondary al-number-of-children-badge"><%= document.number_of_children %><span class="sr-only visually-hidden"><%= t(:'arclight.views.index.number_of_components', count: document.number_of_children) %></span></span>
      <% end %>
    </div>
  </td>

    <%= tag.td class: 'text-muted' do %>
      <%= document.containers.join(', ') %>
    <% end %>

    <%= tag.td class: 'text-end' do %>
    <%= helpers.render_index_doc_actions document, wrapping_class: 'd-inline-flex justify-content-end' %>
    <% end %>
  </div>

  <%= render Arclight::IndexMetadataFieldComponent.with_collection(@presenter&.field_presenters.select { |field| field.field_config.collection_context }, classes: ['col pl-0 my-0']) %>
<% end %>
