<div class='d-md-flex justify-content-between al-show'>
  <div class='al-show-breadcrumb'>
    <nav aria-label="breadcrumb">
      <%= render Arclight::BreadcrumbsHierarchyComponent.new(presenter: presenter) %>
    </nav>
  </div>
</div>

<div class="title-container">
  <div class="d-flex justify-content-between align-items-start">
    <%= content_tag :h1 do %>
      <%= document.normalized_title %>
    <% end %>
    <%= helpers.render partial: 'catalog/arclight_bookmark_control', locals: { document: document } %>
  </div>

  <% if @document.collection? && @document.online_content?%>
    <div class="online-contents">
      <div class="alert alert-success d-flex align-items-center">
        <div>
          <span class="media-body al-online-content-icon" aria-hidden="true"><%= helpers.blacklight_icon :online %></span>
          <h2 class="d-inline"><%= t('arclight.views.show.online_content.title') %></h2>
        </div>
        <div class="ml-3">
          <div><%= t('arclight.views.show.online_content.description') %></div>
          <%= link_to t('arclight.views.show.online_content.link_text'), helpers.search_action_path(f: { collection_sim: [document.collection_name], has_online_content_ssim: ['online'] }) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render Arclight::MetadataSectionComponent.with_collection(component_metadata_partials, metadata_attr: { layout: Arclight::UpperMetadataLayoutComponent }, presenter: presenter, classes: ['al-metadata-section']) unless document.collection? %>

<div class='row'>
  <div class='col-md-12'>
    <%= embed %>
  </div>
</div>

<% if document.collection? %>
<div id="metadata">
  <h2 class="sr-only visually-hidden"><%= t 'arclight.views.show.context' %></h2>
  <%= render Arclight::MetadataSectionComponent.with_collection(metadata_partials, presenter: presenter, heading: true) %>
</div>
<% elsif document.children? %>
<div id="contents">
  <h2 class="al-show-sub-heading"><%= t 'arclight.views.show.contents' %></h2>
  <%= content_tag(
      :div, '',
      class: 'al-contents',
      data: {
        arclight: {
          level: document.component_level + 1,
          path: search_catalog_path,
          name: document.collection_name,
          parent: document.reference,
          search_field: 'within_collection',
          view: 'compact'
        }
      }
    ) %>
</div>
<% end %>

<% access_content = capture do %>
  <% if @document.collection? %>
    <%= render Arclight::MetadataSectionComponent.with_collection(context_access_tab_items, presenter: presenter) %>
  <% else %>
    <%= render Arclight::MetadataSectionComponent.with_collection(component_access_tab_items, presenter: presenter) %>
  <% end %>
<% end %>

<% if access_content.present? %>
  <div id="access">
    <h2 class="al-show-sub-heading"><%= t 'arclight.views.show.access' %></h2>

    <%= access_content%>
  </div>
<% end %>
