<%= tag.p class: "media" do %>
  <span class="media-body al-online-content-icon" aria-hidden="true"><%= helpers.blacklight_icon :online %></span>
  <span class="col text-muted text-uppercase">
    <%= t('arclight.views.show.embedded_content') %>
  </span>
  <%= render Arclight::OembedViewerComponent.with_collection(embeddable_resources, document: @document) %>

  <% linked_resources.each do |resource| %>
    <div class="al-digital-object">
      <%= link_to(resource.label, resource.href) %>
    </div>
  <% end %>
<% end %>
