<%= render(Blacklight::SearchBarComponent.new(
      **@kwargs,
      params: @params.merge(f: (@params[:f] || {}).except(:collection_sim)))) do |c| %>
  <% c.with_prepend do %>
    <%= prepend %>

    <div class="input-group within-collection-dropdown flex-nowrap flex-shrink-1 mb-2 mb-md-0 mr-md-2">
      <span class="input-group-prepend">
        <label class="input-group-text" for="within_collection">
          <%= t('arclight.within_collection_dropdown.label_html') %>
        </label>
      </span>

      <%= select_tag ('f[collection_sim][]' if collection_name.present?), within_collection_options, id: 'within_collection', class: 'custom-select search-field rounded-right' %>
    </div>
  <% end %>

  <% c.with_append do %>
    <%= append %>
  <% end if append? %>

  <% c.with_search_button do %>
    <%= search_button %>
  <% end if respond_to?(:search_button?) && search_button? # only BL8 has this option %>
<% end %>
