<%= render(Blacklight::SearchBarComponent.new(
      **@kwargs,
      params: @params.merge(f: (@params[:f] || {}).except(:collection)))) do |c| %>

  <% c.with_before_input_group do %>
    <div class="input-group within-collection-dropdown">
      <label class="input-group-text" for="within_collection">
        <%= t('arclight.within_collection_dropdown.label_html') %>
      </label>
      <%= select_tag ('f[collection][]' if collection_name.present?), within_collection_options, id: 'within_collection', class: 'form-select search-field rounded-end' %>
    </div>
  <% end %>

  <% c.with_prepend do %>
    <%= prepend %>
  <% end %>

  <% c.with_append do %>
    <%= append %>
  <% end if append? %>

  <% c.with_search_button do %>
    <%= search_button %>
  <% end if respond_to?(:search_button?) && search_button? # only BL8 has this option %>
<% end %>
