<div class="offcanvas-lg offcanvas-start p-3 p-lg-1" tabindex="-1" id="sidebar">
  <%= collection_context %>
  <%= render 'show_tools', document: document %>
  <%= collection_sidebar %>
  <div id="collection-context" class="sidebar-section">
    <h2><%= t('arclight.views.show.has_content') %></h2>
    <%= turbo_frame_tag "al-hierarchy-#{document.root}", loading: 'lazy', src: hierarchy_solr_document_path(id: document.root, nest_path: @document.nest_path, hierarchy: true) %>
  </div>
</div>
